$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$font-white: #ffffff;
$font-black: #000000;
$font-tiffany: #63d1bb;
$font-darkgrey: #444444;

// $icon-fill: #63d1bb;
// $icon-fill-effect: #46c1ae;

$bg-white: #ffffff;
$bg-lightgrey: #f1f1f1;
$bg-tiffany: #63d1bb;
$bg-tiffany-effect: #59d5bc;
$bg-darktiffany: #56c3b2;
$bg-darktiffany-effect: #46c1ae;
