.best-product {
  @include container();
  padding: 27px 30px;
}
.best-product__header {
  margin-bottom: 21px;
}
.best-product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  margin: 0;
  margin-bottom: 5px;
}
.best-product__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  color: $font-tiffany;
  text-transform: uppercase;
}
.best-product__info{
  color: $font-darkgrey;
}
.best-product__description {
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}
.best-product__parametrs {
  margin-bottom: 28px;
  border-collapse: collapse;

  tr{
    border-bottom: 1px solid #ececec;
  }

  // добавить класс в хтмл
}
.best-product__attribute {
  padding: 6px 29px 8px 0;
}
.best-product__value {
  padding: 6px 25px 8px 0;
}
.best-product__photo {
  z-index: -1;
  display: block;
  margin: auto;
}
.best-product__price {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 28px 0 25px;
}

@media #{$tablet-widths} {
  .best-product {
    padding: 46px 50px  55px;
    position: relative;
  }
  .best-product__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .best-product__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  .best-product__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }
  .best-product__subtitle{
    text-align: center;
    width: 120px;
    line-height: 17px;
    margin-top: 5px;
  }
  .best-product__info{
    width: 290px;
  }
  .best-product__parametrs {
    margin-bottom: 100px;
  }
  .best-product__parametrs {
    margin-bottom: 57px;
  }
  .best-product__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  .best-product__photo {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 160px;
    right: 51px;
  }

}

@media #{$desktop-widths}{
  .best-product{
    padding-top: 124px;
  }
  .best-product__title {
    font-size: 53px;
    line-height: 57px;
    order: 1;
    flex-grow: 1;
  }
  .best-product__subtitle {
    margin: 0 30px 0px 22px;
  }
  .best-product__info {
    margin-left: 175px;
  }
  .best-product__description {
    margin-bottom: 48px;
  }
  .best-product__parametrs {
    margin-bottom: 109px;
  }
  .best-product__attribute {
    padding-top: 7px;
  }
  .best-product__photo {
    top: 72px;
    right: 50px;
  }

}
