.btn
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;

    display: block;

    margin: auto;
    padding: 14px 16px;

    cursor: pointer;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .7px;
    text-transform: uppercase;

    color: #444;
    border: 2px solid #444;
    background-color: $bg-white;

    &:hover
    {
        color: $font-white;
        background-color: #444;
    }

    &:active
    {
        color: rgba($font-white, .3);
    }
}
