.catalog
{
    display: flex;
    flex-direction: column;

    width: 260px;
    margin: 0 auto;
    padding: 30px 30px 33px;

    @include container();
    justify-content: space-between;
}
.catalog__item
{
    margin-bottom: 29px;
    &:last-child
    {
        margin-bottom: 0;
    }
    &:hover
    {
        .catalog__description
        {
            box-shadow: 0 6px 10px rgba(0,0,0,.1);
        }
    }
    &:active
    {
        .catalog__description
        {
            box-shadow: 0 3px 5px rgba(0,0,0,.1);
        }
    }
}
.catalog__photo
{
    display: block;
}
.catalog__image
{
    display: block;

    width: 260px;
    height: 195px;
    margin: 0 auto;
}
.catalog__description
{
    padding: 26px 28px 20px;

    border: 1px solid #ececec;
}
.catalog__info
{
    margin-bottom: 19px;
}
.catalog__title
{
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    margin: 0 0 5px;

    text-decoration: none;

    color: $font-black;
}
.catalog__details
{
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;

    color: $font-darkgrey;
}
.catalog__price
{
    display: flex;

    padding-top: 21px;

    border-top: 1px solid #ececec;

    justify-content: space-between;
}
.catalog__price-value
{
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;

    max-width: 200px;
}
.catalog__buy
{
    font-size: 0;
    svg
    {
        fill: #d3d2d2;

        &:hover
        {
            opacity: 1;

            fill: #63d1bb;
        }
        &:active
        {
            opacity: .3;
        }
    }
}

@media #{$tablet-widths}
{
    .catalog
    {
        width: 668px;
        padding: 68px 50px 53px;
    }
    .catalog__item
    {
        display: flex;

        margin-bottom: 54px;
    }
    .catalog__photo
    {
        align-self: flex-end;
    }
    .catalog__image
    {
        width: 333px;
        height: 334px;
    }
    .catalog__description
    {
        display: flex;
        flex-direction: column;

        padding: 26px 27px 18px;

        flex-grow: 1;
        justify-content: space-between;
    }
    .catalog__title
    {
        font-size: 20px;
        line-height: 24px;
    }
    .catalog__details
    {
        font-size: 15px;
        line-height: 30px;
    }
    .catalog__price
    {
        padding-top: 22px;
    }
    .catalog__price-value
    {
        font-size: 17px;
        line-height: 24px;

        max-width: 400px;
        margin-left: 5px;
    }
    .catalog__buy
    {
        margin-right: 5px;
    }
}

@media #{$desktop-widths}
{
    .catalog
    {
        flex-direction: row;

        width: 1050px;
        padding-top: 112px;
        padding-bottom: 57px;

        justify-content: space-between;
    }
    .catalog__title
    {
        display: block;

        margin-bottom: 5px;
    }
    .catalog__item
    {
        flex-direction: column;

        width: 316px;
        margin-bottom: 0;
    }
    .catalog__photo
    {
        align-self: baseline;
    }
    .catalog__description
    {
        padding-top: 25px;
    }
    .catalog__image
    {
        width: 316px;
        height: 462px;
    }
    .catalog__info
    {
        margin-bottom: 14px;
    }
    .catalog__price
    {
        padding-top: 22px;
    }
    .catalog__price-value
    {
        max-width: 200px;
        margin: 0;
    }
}
