.contacts
{
    padding: 35px 0 39px;
}
.contacts__title
{
    font-size: 18px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 26px;
    padding: 0 30px;
}
.contacts__details
{
    margin-bottom: 37px;
    padding: 0 30px;

    color: $font-darkgrey;
}
.contacts__email
{
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;

    margin-bottom: 29px;

    align-items: flex-start;
}
.contacts__address
{
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
}
.contacts__name
{
    line-height: 30px;

    width: 78px;
}
.contacts__value
{
    line-height: 30px;

    width: 180px;
    margin: 0;

    &--link
    {
        max-width: 300px;

        text-decoration: none;

        color: $font-black;
        border-bottom: 1px solid #62d1ba;

        &:hover
        {
            color: #46c1ae;
        }
        &:active
        {
            opacity: .3;
        }
    }
}
.contacts__to-write-us
{
    margin: 0 30px;
}
.contacts__map
{
    position: relative;

    height: 457px;
    margin-bottom: 39px;

    background-color: #f3f1ea;
    background-image: url('../img/map-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media #{$retina}
    {
        background-image: url('../img/map-mobile@2x.jpg');
    }
}

@media #{$tablet-widths}
{
    .contacts
    {
        padding: 62px 0 56px;
    }
    .contacts__title
    {
        font-size: 43px;
        line-height: 50px;

        position: relative;

        margin-bottom: 49px;
        padding: 0 50px;

        &::before
        {
            position: absolute;
            top: -15px;
            right: 48px;

            width: 52px;
            height: 85px;

            content: '';

            background: url('../img/icon-flag.svg') no-repeat;
        }
    }
    .contacts__details
    {
        font-size: 17px;
        line-height: 30px;

        display: -webkit-flex;
        display:     -ms-flex;
        display:         flex;
        flex-direction: row;

        margin-bottom: 56px;
        padding: 0 50px;

        flex-wrap: wrap;
    }
    .contacts__email
    {
        width: 50%;
    }
    .contacts__address
    {
        width: 50%;
    }
    .contacts__value
    {
        width: 230px;

        &--link
        {
            width: auto;
        }
    }
    .contacts__to-write-us
    {
        box-sizing: border-box;
        width: 230px;
        margin: 0 auto;
    }
    .contacts__map
    {
        margin-bottom: 55px;

        background-image: url('../img/map-tablet@1x.jpg');

        @media #{$retina}
        {
            background-image: url('../img/map-tablet@2x.jpg');
        }
    }
}
@media #{$desktop-widths}
{
    .contacts
    {
        position: relative;

        box-sizing: border-box;
        max-width: 1150px;
        margin: 0 auto;
        padding: 70px 50px 105px 225px;
    }
    .contacts__title
    {
        font-size: 53px;
        line-height: 57px;

        width: 350px;
        margin-top: 70px;
        padding: 0;

        &::before
        {
            top: -9px;
            left: -112px;
        }
    }
    .contacts__details
    {
        flex-direction: column;

        width: 350px;
        margin-bottom: 79px;
        padding: 0;
    }
    .contacts__email
    {
        width: 100%;
    }
    .contacts__address
    {
        width: 100%;
    }
    .contacts__map
    {
        position: absolute;
        top: 70px;
        right: 50px;

        width: 525px;

        background-image: url('../img/map-desktop@1x.jpg');

        @media #{$retina}
        {
            background-image: url('../img/map-desktop@2x.jpg');
        }
    }
    .contacts__to-write-us
    {
        max-width: 350px;
        margin: 0;
    }
}
