.main-nav
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.main-nav__item
{
    font-size: 17px;
    font-weight: 700;

    border-bottom: #ececec solid 1px;
    background: $bg-white;

    &--hidden
    {
        display: none;
    }
    &--delivery
    {
        display: none;
    }
}
.main-nav__link
{
    position: relative;

    display: block;

    padding: 27px 60px 27px 75px;

    text-decoration: none;

    color: $font-black;

    svg
    {
        fill: #d3d2d2;
    }

    &:hover
    {
        color: rgba(0,0,0,.6);
        svg
        {
            opacity: 1;

            fill: #63d1bb;
        }
    }
    &:active
    {
        color: rgba(0,0,0,.3);
        svg
        {
            opacity: .3;
        }
    }
    &--search
    {
        svg
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 32px;

            margin: auto 0;
        }
    }
    &--basket
    {
        svg
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 30px;

            margin: auto 0;
        }
    }
}
.main-nav__btn
{
    font-size: 0;

    position: absolute;
    top: 32px;
    right: 30px;

    display: block;

    width: 21px;
    height: 20px;
    padding: 0;

    cursor: pointer;

    border: none;
    background-color: transparent;

    &::after,
    &::before
    {
        position: absolute;
        top: 9px;
        left: -2px;

        width: 25px;
        height: 2px;

        content: '';

        background-color: #221f1f;
    }
    &::before
    {
        transform: rotate(45deg);

        box-shadow: none;
    }

    &::after
    {
        transform: rotate(-45deg);
    }

    &--closed
    {
        &::before
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 2px;

            content: '';
            transform: rotate(0);

            background-color: #221f1f;
            box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
        }

        &::after
        {
            display: none;
        }
    }

    &--nojs
    {
        display: none;
    }
}
.main-nav--closed .main-nav__item
{
    display: none;
}
.main-nav--opened .main-nav__item
{
    display: block;
}
.main-nav--opened .main-nav__item--hidden,
.main-nav--opened .main-nav__item--delivery
{
    display: none;
}
.main-nav--no-js .main-nav__item
{
    display: none;
}
@media #{$tablet-widths}
{
    .main-nav
    {
        position: relative;

        display: flex;

        width: 668px;
        margin: 0 auto;
        padding: 0 50px;

        background-color: transparent;

        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-nav__btn
    {
        display: none;
    }
    .main-nav__item
    {
        font-size: 15px;
        line-height: 24px;

        padding-left: 0;

        border: 0;
        background-color: transparent;

        &--user
        {
            box-sizing: border-box;
        }
        &--search
        {
            width: 12.5%;

            text-align: center;

            border-right: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;

            svg
            {
                position: static;
            }
        }
        &--basket
        {
            font-size: 17px;
            line-height: 24px;

            position: relative;

            width: 39.5%;

            text-align: right;

            svg
            {
                position: absolute;
                position: absolute;
                top: 35px;
                left: 30px;

                margin: 0;
            }
        }
        &--catalog
        {
            padding: 18px 36px 18px 0;

            order: 1;
        }
        &--order
        {
            padding: 18px 36px 18px 0;

            order: 2;
        }
        &--delivery
        {
            font-weight: normal;

            display: block;

            padding: 18px 0;
            max-width: 320px;

            text-align: right;

            flex-grow: 1;
            order: 999;
        }
    }
    .main-nav__link
    {
        padding: 0;

        &--search
        {
            font-size: 0;

            padding: 36px 0 22px;

            text-align: center;
        }
        &--basket
        {
            padding: 31px 0 33px 66px;
        }
    }
    .main-nav--closed .main-nav__item
    {
        display: block;
    }
    .main-nav--closed .main-nav__item--hidden
    {
        display: none;
    }
}
@media #{$desktop-widths}
{
    .main-nav
    {
        width: 1050px;
        margin: 0 auto;
    }
    .main-nav__item
    {
        &--user
        {
            box-sizing: border-box;
        }
        &--search
        {
            width: 85px;

            order: 4;
        }
        &--basket
        {
            width: 265px;

            order: 5;
        }
        &--catalog
        {
            font-size: 17px;

            box-sizing: border-box;
            width: 185px;
            margin-right: 35px;
            padding: 31px 0;

            border-right: 1px solid #f1f1f1;

            order: 1;
        }
        &--order
        {
            font-size: 17px;
            line-height: 24px;

            box-sizing: border-box;
            width: 185px;
            margin-right: 45px;
            padding: 31px 0;

            order: 2;
        }
        &--hidden
        {
            display: flex;

            width: 185px;
            margin-right: 35px;
            padding: 18px 0;

            order: 6;
        }
        &--delivery
        {
            max-width: 610px;
            padding: 18px 0;
        }
    }
    .main-nav--closed .main-nav__item--hidden
    {
        display: block;
    }
}
