.order-form
{
    width: 260px;
    margin: 0 auto;
    padding: 23px 30px 55px;
}

.order-form__text
{
    font-size: 13px;
    line-height: 24px;

    max-width: 700px;
    margin: 0;
    margin-bottom: 32px;

    color: $font-darkgrey;
}

.order-form__fieldset
{
    position: relative;

    margin: 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #63d1bb;

    &--radio
    {
        margin-bottom: 19px;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    &--checkbox
    {
        padding-top: 19px;
        padding-bottom: 31px;
    }

    &--name
    {
        padding-top: 36px;
        padding-bottom: 17px;
    }

    &--tel
    {
        padding-top: 17px;
        padding-bottom: 15px;
    }

    &--mail
    {
        padding-top: 17px;
        padding-bottom: 15px;
    }

    &--textarea
    {
        padding-top: 35px;
        padding-bottom: 16px;
    }
}
.order-form__fieldset-wrapper
{
    width: 260px;
    margin: 0 auto;
}
.order-form__legend
{
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;

    position: absolute;
    top: -9px;
    left: 0;

    display: block;

    padding-right: 19px;
    padding-left: 0;

    text-transform: uppercase;

    color: $font-tiffany;
    background-color: #fff;
}

.order-form__input-wrapper
{
    position: relative;

    &--radio
    {
        padding: 10px 0 2px 62px;
    }

    &--checkbox
    {
        padding: 22px 0 15px 64px;
    }

    &--text
    {
        position: relative;

        margin-bottom: 22px;

        input
        {
            font-family: $font;
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            line-height: 18px;

            display: block;

            width: 100%;
            margin-bottom: 20px;
            padding: 16px 0;

            color: #444;
            border: 0;
            border-bottom: 2px solid #000;
            outline: 0;
            background-color: transparent;

            &::-webkit-input-placeholder
            {
                color: #d2d2d2;
            }
            &:-ms-input-placeholder
            {
                color: #d2d2d2;
            }
            &::-ms-input-placeholder
            {
                color: #d2d2d2;
            }
            &::-moz-placeholder
            {
                color: #d2d2d2;
            }
            &::placeholder
            {
                color: #d2d2d2;
            }

            &:hover
            {
                border-bottom: 2px solid #62d1ba;
            }
            &:focus
            {
                color: rgba(68,68,68,1);
                border-bottom: 2px solid #62d1ba;
            }
            &:hover + svg
            {
                opacity: 1;

                fill: #63d1bb;
            }
            &:focus + svg
            {
                opacity: 1;

                fill: #63d1bb;
            }
        }
        label
        {
            display: block;
        }

        svg
        {
            position: absolute;
            top: 7px;
            right: 7px;

            opacity: .2;
        }
    }

    &--mail
    {
        svg
        {
            top: 10px;
            right: 4px;
        }
    }
    &--tel
    {
        input
        {
            padding: 13px 0 16px;
        }
    }
    &--mail
    {
        input
        {
            padding: 13px 0 19px;
        }
    }

    &--textarea
    {
        textarea
        {
            font-family: $font;
            font-size: 17px;
            font-weight: 400;
            line-height: 18px;

            display: block;
            overflow: auto;

            box-sizing: border-box;
            width: 100%;
            padding: 15px;

            resize: none;

            color: rgba(68,68,68,.3);
            border: 2px solid #000;
            outline: 0;

            &::-webkit-input-placeholder
            {
                color: #d2d2d2;
            }
            &:-ms-input-placeholder
            {
                color: #d2d2d2;
            }
            &::-ms-input-placeholder
            {
                color: #d2d2d2;
            }
            &::-moz-placeholder
            {
                color: #d2d2d2;
            }
            &::placeholder
            {
                color: #d2d2d2;
            }

            &:hover
            {
                border: 2px solid #62d1ba;
            }

            &:focus
            {
                color: rgba(68,68,68,1);
                border: 2px solid #62d1ba;
            }
        }
    }

    label
    {
        font-size: 17px;
        font-weight: 700;
        line-height: 18px;

        color: #444;
    }

    input[type='radio']
    {
        display: none;
    }

    input[type='radio']:checked + label::before
    {
        background-color: #63d1bb;
    }
    input[type='radio'] + label
    {
        &:hover
        {
            &::before
            {
                box-shadow: 0 0 0 2px #62d1ba;
            }
        }
        &:active
        {
            &::before
            {
                box-shadow: 0 0 0 2px #c7c7c7;
            }
        }
    }
    input[type='radio'] + label::before
    {
        position: absolute;
        top: 24px;
        left: 2px;

        width: 15px;
        height: 15px;

        content: '';
        transform: translateY(-50%);

        border: 10px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #444;
    }

    input[type='checkbox']
    {
        display: none;
    }
    input[type='checkbox'] + label
    {
        &:hover
        {
            &::before
            {
                border: 2px solid #62d1ba;
            }
        }
        &:active
        {
            &::before
            {
                border: 2px solid #c7c7c7;
            }
        }
    }
    input[type='checkbox'] + label::before
    {
        position: absolute;
        top: 32px;
        left: 0;

        width: 36px;
        height: 35px;

        content: '';
        transform: translateY(-50%);

        border: 2px solid #444;

        &:hover
        {
            border: 2px solid #62d1ba;
        }
        &:active
        {
            border: 2px solid #c7c7c7;
        }
    }

    input[type='checkbox']:checked + label::before
    {
        background: url('../img/icon-tick.svg') no-repeat center;
        background-size: 60%;
    }
}
.order-form__required
{
    font-size: 14px;
    line-height: 16px;

    max-width: 400px;
    margin-bottom: 31px;

    color: $font-darkgrey;
}

.order-form__submit
{
    width: 100%;
}
@media #{$tablet-widths}
{
    .order-form
    {
        width: auto;
        margin: 0;
        padding: 62px 0 31px;
    }

    .order-form__text
    {
        font-size: 17px;
        line-height: 30px;

        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0 50px;
    }

    .order-form__fieldset-wrapper
    {
        display: flex;

        width: 668px;
        margin: 0 auto;

        align-items: baseline;

        &--textarea
        {
            align-items: flex-start;
        }
    }

    .order-form__fieldset
    {
        padding: 0 50px;

        border: 0;

        &--radio
        {
            margin-bottom: 0;
            padding-top: 31px;
            padding-bottom: 21px;
        }

        &--checkbox
        {
            padding-top: 43px;
            padding-bottom: 34px;
        }

        &--name
        {
            padding-top: 47px;
            padding-bottom: 29px;
        }

        &--tel
        {
            padding-top: 47px;
            padding-bottom: 0;
        }

        &--mail
        {
            padding-top: 0;
            padding-bottom: 32px;
        }

        &--textarea
        {
            padding: 50px 50px 53px;
        }

        &--gray
        {
            background-color: $bg-lightgrey;
        }
    }

    .order-form__input-wrapper input[type='radio'] + label::before
    {
        top: 21px;

        width: 22px;
        height: 22px;

        border: 13px solid #fff;
    }

    .order-form__input-wrapper input[type='checkbox'] + label::before
    {
        top: 34px;

        width: 50px;
        height: 48px;
    }

    .order-form__inner-wrapper
    {
        display: flex;

        width: 501px;

        &--radio
        {
            flex-direction: column;
        }

        &--checkbox
        {
            flex-direction: row;

            flex-wrap: wrap;
        }

        &--name
        {
            flex-direction: column;
        }
    }

    .order-form__input-wrapper
    {
        font-size: 19px;
        line-height: 18px;

        label
        {
            font-size: 19px;
        }

        &--radio
        {
            margin-bottom: 46px;
            padding-left: 80px;
        }

        &--checkbox
        {
            box-sizing: border-box;
            width: 240px;
            margin-bottom: 13px;
            padding-bottom: 22px;
            padding-left: 81px;

            &:nth-child(2n-1)
            {
                margin-right: 20px;
            }
        }

        &--text
        {
            display: flex;

            width: 100%;
            margin-bottom: 0;

            align-items: baseline;

            input
            {
                font-size: 19px;

                margin-bottom: 17px;
                margin-left: 28px;
                padding-right: 40px;
                padding-left: 13px;

                flex-grow: 1;
            }
        }
        &--tel
        {
            input
            {
                margin-left: 0;
                padding: 11px 40px 15px 22px;
            }
            svg
            {
                top: 11px;
                right: 26px;
            }
        }
        &--mail
        {
            input
            {
                margin-left: 0;
                padding: 17px 40px 15px 22px;
            }
            svg
            {
                top: 14px;
                right: 23px;
            }
        }
        &--textarea
        {
            width: 100%;
            textarea
            {
                font-size: 19px;
            }
        }
    }

    .order-form__legend
    {
        position: static;

        width: 167px;
        padding: 0;

        background-color: transparent;
    }

    .order-form__footer
    {
        display: flex;

        width: 668px;
        margin: 0 auto;
        padding: 0 50px;

        justify-content: space-between;
        align-items: flex-start;
        align-items: baseline;
    }

    .order-form__required
    {
        font-size: 17px;
        line-height: 30px;
    }

    .order-form__submit
    {
        width: 230px;
        margin: 0;

        order: -1;
    }
}
@media #{$desktop-widths}
{
    .order-form
    {
        padding: 105px 0 30px;
    }
    .order-form__text
    {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0;
    }
    .order-form__fieldset-wrapper
    {
        width: 1050px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .order-form__inner-wrapper
    {
        padding: 0;

        &--checkbox
        {
            width: 840px;
        }
    }
    .order-form__fieldset
    {
        padding-right: 0;
        padding-left: 0;
        &--textarea
        {
            padding-bottom: 49px;
        }
    }
    .order-form__legend
    {
        width: 175px;

        text-align: center;
    }
    .order-form__input-wrapper
    {
        &--checkbox:nth-child(n)
        {
            margin-right: 24px;
        }
        &--text
        {
            width: 700px;
            input
            {
                margin-left: 0;
            }
        }
        &--tel
        {
            input
            {
                padding-left: 18px;
            }
            svg
            {
                top: 14px;
                right: 7px;
            }
        }
        &--mail
        {
            input
            {
                padding-left: 18px;
            }
            svg
            {
                top: 14px;
                right: 5px;
            }
        }

        label
        {
            max-width: 250px;
            margin-right: 27px;
        }
    }
    .order-form__inner-wrapper
    {
        width: 700px;

        &--checkbox
        {
            width: 840px;
        }
    }
    .order-form__footer
    {
        width: 700px;
    }
}
