.reviews
{
    position: relative;

    background-image: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 7px;
}
.reviews__wrapper
{
    padding: 12px 30px 51px;

    @include container();
}
.reviews__title
{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    max-width: 500px;
    margin: 0;
    margin-bottom: 24px;
}
.reviews__text
{
    font-size: 15px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 26px;

    color: $font-darkgrey;
}
.reviews__author
{
    max-width: 500px;
    margin-bottom: 28px;
}
.reviews__author-name
{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    margin-bottom: 5px;
}
.reviews__author-email
{
    font-size: 17px;
    line-height: 30px;

    color: $font-darkgrey;
}
.reviews__controls
{
    display: block;
    display: flex;

    height: 50px;
    margin-bottom: 38px;

    border: #ececec solid 1px;
}
.reviews__prev
{
    font-size: 0;

    width: 50%;
    padding: 0;

    border: none;
    border-right: #ececec solid 1px;
    background: url('../img/icon-left-arrow.svg') no-repeat center;

    &:hover
    {
        opacity: .6;
    }
    &:active
    {
        opacity: .3;
    }
}
.reviews__next
{
    font-size: 0;

    width: 50%;
    padding: 0;

    border: none;
    background: url('../img/icon-right-arrow.svg') no-repeat center;

    &:hover
    {
        opacity: .6;
    }
    &:active
    {
        opacity: .3;
    }
}

@media #{$tablet-widths}
{
    .reviews
    {
        background-position: 17px bottom;
        background-size: 768px 17px;
    }
    .reviews__wrapper
    {
        display: flex;
        align-items: flex-start;
        flex-direction: row;

        padding: 76px 50px 98px;

        background: url('../img/review@1x.jpg') no-repeat;

        justify-content: space-between;
        flex-wrap: wrap;
        @media #{$retina}
        {
            background: url('../img/review@2x.jpg') no-repeat;
            background-size: 350px auto;
        }
    }
    .reviews__title
    {
        font-size: 43px;
        line-height: 50px;

        margin: 0;
        // max-width: 400px;

        order: -2;
    }
    .reviews__text
    {
        font-size: 17px;
        line-height: 30px;

        margin: 30px 0 40px;
    }
    .reviews__write
    {
        box-sizing: border-box;
        min-width: 175px;
        max-width: 250px;
        margin: 0;

        order: -1;
    }
    .reviews__author-name
    {
        font-size: 17px;
    }
    .reviews__controls
    {
        width: 167px;

        border: none;
    }
    .reviews__prev
    {
        border: none;
        background-position: 11px 16px;
    }
    .reviews__next
    {
        background-position: 14px 16px;
    }
}

@media #{$desktop-widths}
{
    .reviews
    {
        background-position-x: 30px;
        background-size: auto 23px;
    }
    .reviews__wrapper
    {
        box-sizing: border-box;
        max-width: 1150px;
        margin: 0 auto;
        padding: 76px 50px 155px 225px;

        background-position-x: 51px;
        background-position-y: 6px;
    }
    .reviews__title
    {
        font-size: 53px;
        line-height: 57px;
    }
    .reviews__text
    {
        margin-top: 28px;
        margin-bottom: 21px;
        padding-right: 95px;
    }
    .reviews__write
    {
        margin-top: 10px;
    }
}
